<ion-header>
  <ion-toolbar color="primary">
    
    <app-menu-toggle slot="start" menu="main-menu-id"></app-menu-toggle>
    <ion-title>Task List</ion-title>
    <app-logout-button slot="end" menu="main-menu-id"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="(tasks$ | async) as tasks">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <app-task-item *ngFor="let task of tasks" [task]="task" 
      (updateEventEmitter)="onUpdate($event)"
      (deleteEventEmitter)="onDelete($event)"
      (doneEventEmitter)="onDone($event)"></app-task-item>
    </ng-container>
    <ng-template #noTasks>
      <ion-item lines="none">
        No Tasks yet ....
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
